
header{
    background-color: var(--color-bg-secondary);
    height: 80px;
    display: flex;
    align-items: center;
  
}

nav h1{
    color: var(--color-font-secundary);
    font-size: 20px;
    font-weight: 700;
}